.searchFormSection {
    padding: 1rem 0;

    p, label {
        color: #000;
        font-size: 15px;
        font-weight: 600;
        margin-left: 0;
    }

    label {
        transform: translateY(-100%);
    }

    fieldset {
        top: 2px;

        legend {
            display: none;
        }
    } 

    .dateInput {
        height: 26px;
        padding: 6px 10px;
        background-color: #fff;
        border-radius: 5px;

        & + fieldset {
            top: 0;
        }
    }

    .fieldError {
        position: absolute;
        top: 65px;
        color: red;
        font-size: 13px;
    }

    .formControl {
        margin-bottom: .5rem;
    }

    .searchButton {
        height: 38px;
        margin-bottom: .5rem;
    }

    .select {

        >div {
            cursor: pointer;
        }
    }
}